{% extends "layout/basic_ret.html" %}
{% block title %}
{{ bs }} создание скрипта
{% endblock %}
{% block content %}
<main class="page-main">
	<div class="hero_container">
		<section class="search">
			<h3 class="search__title">Создание скрипта для прописки RET на {{ bs }}</h3>
			{% if result == "FAIL" %}
			<p class="duty__text">Скрипт для {{ bs }} не создан! Не выбрано ни одного UniqueID для прописки! </p>
			{% else %}
			<p class="duty__text">Скрипт для {{ bs }} успешно создан!</p>
			<h3 class="ret__title">Прописать RET на {{ bs }}:</h3>
			<form action="{% url 'set_ret' %}" method="POST">
				{% csrf_token %}
				<p>
				    <label for="id_bs">Номер сетевого элемента:</label>
				    <input type="text" name="bs" value="{{ bs }}" maxlength="9" required="" id="id_bs">
				</p>
				<p>
				    <label for="id_login">Имя пользователя ENM:</label>
				    <input type="text" name="login" maxlength="15" required="" id="id_login">
				</p>
				<p>
				    <label for="id_password">Пароль пользователя ENM:</label>
				    <input type="text" name="password" maxlength="15" required="" id="id_password">
				</p>
				<p>
				    <label for="id_server">Сервер ENM:</label>
				    <select name="server" id="id_server">
				    	<option value="ENM6">ENM6</option>
				    	<option value="ENM7">ENM7</option>
				    	<option value="ENM8">ENM8</option>
				    	<option value="ENM9">ENM9</option>
				    	<option value="ENM10">ENM10</option>
				    	<option value="ENM11">ENM11</option>
				    	<option value="ENM12">ENM12</option>
				    	<option value="ENM14">ENM14</option>
				    	<option value="ENM15">ENM15</option>
				    </select>
				</p>
				<input class="site__comments-button" type="submit" name="submit" value="Прописать" />
			</form>
			{% endif %}
		</section>
	</div>
</main>
{% endblock %}