{% extends "layout/basic.html" %}
{% block title %}
Полезные ссылки
{% endblock %}
{% block content %}
<main class="page-main">
    <h2 class="useful__title">Полезные ссылки</h2>
    <section class="useful">
        <h3 class="useful__subtitle">Карты</h3>
        <a href="https://yandex.ru/maps/56/" class="useful__link" target="_blank">Карты Яндекс</a>
        <a href="https://www.google.com/maps/@56.288658,44.1551374,11.04z?hl=ru" class="useful__link" target="_blank">Карты Google</a>
        <a href="https://2gis.ru/" class="useful__link" target="_blank">2ГИС</a>

        <h3 class="useful__subtitle">Внешние ресурсы</h3>
        <a href="https://ict.moscow/" class="useful__link" target="_blank">ICT Moscow<span class="useful__disclaimer">*Информация о цифровых проектах Москвы.</span></a>
        <a href="https://www.rosseti.ru/" class="useful__link" target="_blank">Информация об отключениях Россетей</a>
        <a href="https://www.cellmapper.net/arfcn?net=LTE&ARFCN=1425&MCC=0" class="useful__link" target="_blank">Частотный калькулятор</a>
        
    </section>
</main>
{% endblock %}